node_modules
.nuxt
.output
.data
.nitro
.cache
dist

.git
.github
.husky

.env
.env.*
!.env.example

test
coverage
*.log

.vscode
.idea
.DS_Store

Dockerfile
.dockerignore
compose.yaml
docker-compose.yml
